@{
    ViewData["Title"] = "Home Page";
}
<link href="~/home.css" rel="stylesheet" />
<form method="POST">
   
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <div class="button">      
        <input type="submit" class="btn btn-secondary" style="margin-left: 30%; margin-right: 50%; width:300px"/>
    <div class="mask"></div>
    </div>
</form>